[submodule "generators/app/templates/react-exhibit-template"]
	path = generators/app/templates/react-exhibit-template
	url = git@github.com:au-re/react-exhibit-template.git
	branch = template
[submodule "generators/app/templates/react-exhibit-template-typescript"]
	path = generators/app/templates/react-exhibit-template-typescript
	url = git@github.com:au-re/react-exhibit-template.git
	branch = typescript-template
